<div class="nav-i">
    <nav class=" navbar-light" style="background-color: #350133;">
       
       <h1>Inmueble</h1>
   </nav>
</div>

<div class="table-t">

    <form [formGroup]="inmubsd" (ngSubmit)="guardar($event)" method="POST">
        <div id="formulario">
            <h1> Formulario de inmueble </h1>
        </div>

        <div id="tabla-formulario">
            <label for="nombre">Nombres</label>
            <input placeholder="Ingrese su nombre..." formControlName="nombre" type="text" id="tabla1">

            <label for="direccion">Direccion </label>
            <input placeholder="Escriba Direccion" formControlName="direccion" type="text" id="tabla2">

            <label for="precio">Precio </label>
            <input placeholder="Escriba precio" formControlName="precio" type="number" id="tabla3">

          
            <label for="tipo_inmuble">Tipo_inmueble </label>
            <input placeholder="Escriba Tipo de inmueble" formControlName="tipo_inmuble" type="text" id="tabla5">

            <!-- <label for="descripcion">Usuarios </label>
            <select  aria-label="usuarios" formControlName="usuarios" id="tabla"> Descripcion
                <option [ngValue]="item" *ngFor="let item of usuarios" 
                [selected]="pokemonSelect?.usuarios?.codigo == item.codigo" id="tabla">
                        {{item.codigo}}
                </option>
            </select> -->

        </div>
        <button name="registro" type="submit" class="btn btn-danger btn-sm m-2"  id="button"> ¡Registrarse! </button>

        
    </form>
</div>




<h1>Listado de POKEMONES</h1>
    <table class="listado">
        <thead>
            <tr>
                <th><h1>CODIGO</h1></th>
                <th><h1>NOMBRE</h1></th>
                <th><h1>DIRECCION</h1></th>
                <th><h1>PRECIO</h1></th>
                <th><h1>TIPO_INMUEBLE</h1></th>
                <th><h1>Nombre de Usuario</h1></th>
                <th colspan="2"><h1>OPCIONES</h1></th>
            </tr>
        </thead>
        <tbody *ngFor="let item of poke">
            <tr>
                <th>{{item.id_inmueble}}</th>
                <td>{{item.nombre}}</td>
                <td>{{item.direccion}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.tipo_inmuble}}</td>
                

                 <td>{{item.usuarios.nombre}}</td> 
                <td></td>
                <td>
                    <button type="button" (click)="delete(item)" class="btn btn-danger btn-sm m-2">ELIMINAR</button>
                 
                  </td>
            
        </tbody>
        
    </table>
   