<div class="table-t">

    <form [formGroup]="userForm" (ngSubmit)="guardar($event)" method="POST">
        <div id="formulario">
            <h1> Iniciar Session </h1>
        </div>

        <div id="tabla-formulario">
            
            <label for="email">Email </label>
            <input placeholder="Escriba email" formControlName="email" type="text" id="tabla5">

            <label for="contrasena">Contrasena </label>
            <input placeholder="Escriba contrasena" formControlName="contrasena" type="password" id="tabla6">

        </div>
        <button name="registro" type="submit" class="btn btn-danger btn-sm m-2" id="button"> 
            
            <a class="btn btn-danger btn-sm m-2" routerLink="/singup">Iniciar Session</a>
        </button>
        
    </form>
</div>
<router-outlet></router-outlet>